*{
    margin: 0;
    padding: 0;
    font-family:monospace,sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("https://static3.bigstockphoto.com/4/4/2/large1500/244142062.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1580px;
     min-height: 60vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    display: flex;
    width: 70%;
    max-width: 900px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.card{
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #fff;
    cursor: pointer;
    margin-top: 150px;
}
.card-icon{
    font-size: 38px;
 color: #ff6348;
    width: 60px;
    height: 60px;
    text-align:justify;
    line-height: 60px;
border-radius: 50%;
    transition: 0.3s linear;
}
.card:hover .card-icon{
    background: none;
    color: ;
    transform: scale(1.6);
    
}
.card p{
    
    margin-top: px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}
.card:hover p{
    max-height: 50px;
    opacity: 1;
}
@media screen and (max-width:800px){
    .contact{
        flex-direction: row;
    }
    .card{
        width: 100px;
        max-width: 300px;
        margin: 10px 0;
    }
}
    